version: '3.8'

services:
  nestjs-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '5000:5000'
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USERNAME=soimalfath
      - DB_PASSWORD=Soimaquariuz2
      - DB_NAME=crudnest
      - NODE_ENV=development
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    environment:
      - POSTGRES_ROOT_PASSWORD=Soimaquariuz2
      - POSTGRES_DATABASE=crudnest
      - POSTGRES_USER=soimalfath
      - POSTGRES_PASSWORD=Soimaquariuz2
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - '5432:5432'

volumes:
  postgres-data:
